.container {
  padding: 2rem;

  select {
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }
}

.productsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;

  > * {
    flex: 1 1;
    min-width: 300px;
  }
}
